@media screen and (max-width: 500px) {
    .page_header {
        height: 60px;
        padding: 0px 30px;
    }

    .page_header img:first-child {
        height: 25px;
    }

    .page_header img:last-child {
        display: none;
    }

    .hero>img {
        width: 150px;
        height: 150px;
        top: 350px;
    }

    h1 {
        font-size: 2rem;
    }

    .headline>p {
        font-size: 1rem;
    }

    .headline_rating img {
        height: 16px;
    }

    .menu_header {
        height: 50px;
        border-radius: 4px;
    }

    h2 {
        padding-left: 80px;
    }

    .menu_header_img {
        height: 70px;
        position: absolute;
        top: -15px;
    }

    .menu_header_icon {
        width: 25px;
    }
}

@media screen and (max-width: 650px) {
    .headline_wrapper {
        flex-direction: column-reverse;
        gap: 0px;
    }

    .headline>p {
        font-size: 1.3rem;
        padding: 0px 8px;
    }

    .menu_wrapper {
        width: 100%;
        gap: 50px;
    }

    .basket_wrapper {
        display: none;
    }

    .page_footer {
        height: 120px;
        flex-direction: column-reverse;
        gap: 8px;
    }

    .responsive_footer {
        display: flex;
        position: sticky;
        left: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 930px) {
    .menu_card_wrapper {
        padding: 16px 25px;
    }

    .menu_img_wrapper {
        flex-direction: column;
    }

    .menu_card h3 {
        text-align: center;
    }

    .menu_card p {
        text-align: center;
    }
}

@media screen and (max-width: 1060px) {
    .menu_header {
        padding-left: 45px;
        padding-right: 10px;
    }

    .menu_card {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .menu_text {
        max-width: 500px;
        text-align: left;
        overflow-wrap: break-word;
    }

    .menu_price {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .add_basket_btn {
        width: 130px;
    }
}

@media screen and (min-width: 1440px) {
    .page_header {
        padding: 0px max(200px, calc(50% - 720px));
    }

    main {
        padding: 100px max(200px, calc(50% - 720px));
    }
}