:root {
    --orange: rgba(231, 108, 31, 1);
    --light_orange: rgba(253, 234, 220, 1);
    --dark_grey: rgba(54, 53, 52, 1)
}

* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}